<!DOCTYPE html>
<html>
  <head>
    <title>Class Diary</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header id="header">
      <div id="main-logo">
        <h1>Class Diary</h1>
      </div>
      <div id="menu-top">
        <ul>
          <li>
            <a href="/login">
              <div class="nav-items">
                <img src="../img/icons/login.png" alt="">
                <h2>Entrar</h2>
              </div>
            </a>
          </li>
          <li>
            <a href="/usuario/cadastrar">
              <div class="nav-items">
                <img src="../img/icons/add-user.png" alt="">
                <h2>Cadastre-se</h2>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </header>
    <div id="container">
      <section id="aside">
        <div class="items-menu">
          <div class="item-menu">
            <img src="../img/icons/student2.png" alt="">
            <h2>Alunos</h2>
          </div>
          <div class="item-menu">
            <img src="../img/icons/works.png" alt="">
            <h2>Trabalhos</h2>
          </div>
          <div class="item-menu">
            <img src="../img/icons/task.png" alt="">     
           <h2>Atividades</h2>
          </div>
          <div class="item-menu">
            <img src="../img/icons/times.png" alt="">
            <h2>Horário de aulas</h2>
          </div>
          <div class="item-menu">
            <img src="../img/icons/source.png" alt="">
            <h2>Recursos</h2>
          </div>
        </div>
        <div class="items-menu"></div>
        <div class="items-menu"></div>
        <div class="items-menu"></div>
        <div class="items-menu"></div>
      </section>
      <section id="main-content">
        <div  class="title-top"><h3>Painel</h3></div>
        <div class="boxs-top">
          <div class="box">
            <img src="../img/icons/classe.png" alt="" class="icon-top">
            <h2>Turmas</h2>
          </div>
          <div class="box">
            <img src="../img/icons/course.png" alt="" class="icon-top">
            <h2>Disciplina</h2>
          </div>
          <div class="box">
            <img src="../img/icons/planner.png" alt="" class="icon-top">
            <h2>Planos de aula</h2>
          </div>
          <div class="box">
            <img src="../img/icons/test.png" alt="" class="icon-top">
            <h2>Avaliações</h2>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>