<!DOCTYPE html>
<html>
  <head>
    <title>Class Diary</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header id="header">
      <div id="main-logo">
        <h1>Class Diary</h1>
      </div>
      <div id="menu-top">
        <ul>
          <li>
            <a href="">
              <div class="nav-items">
                <img src="../img/icons/login.png" alt="">
                <h2>Entrar</h2>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="nav-items">
                <img src="../img/icons/add-user.png" alt="">
                <h2>Cadastre-se</h2>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </header>
    <div id="container-form">
      <div class="form">
        <img src="../img/icons/login.png" alt="">
        <h2>Login</h2>
        <form action="" class="form-login">
          <label for="user">Usuário</label>
          <input type="text" name="user">
          <label for="password">Senha</label>
          <input type="password" name="password">
          <input type="submit" name="submit" value="Enviar" class="btn-submit">
        </form>
        <div class="link-form">
          <a href="">Esqueci a senha</a>
          <a href="">Cadastre-se</a>
        </div>
      </div>
    </div>
  </body>
</html>
