<!DOCTYPE html>
<html>
  <head>
    <title>Class Diary</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header id="header">
      <div id="main-logo">
        <h1>Class Diary</h1>
      </div>
      <div id="menu-top">
        <ul>
          <li>
            <a href="">
              <div class="nav-items">
                <img src="../img/icons/login.png" alt="">
                <h2>Entrar</h2>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="nav-items">
                <img src="../img/icons/add-user.png" alt="">
                <h2>Cadastre-se</h2>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </header>
    <div id="container-form">
      <div class="form-cadastro">
        <img src="../img/icons/add-user.png" alt="">
        <h2>Cadastrar novo usuário</h2>
        <form action="" class="form-login-cadastro">
          <label for="first_name">Nome</label>
          <input type="text" name="first_name">
          <label for="last_name">Sobrenome</label>
          <input type="text" name="last_name">
          <label for="email">E-mail</label>
          <input type="email" name="email">
          <label for="password">Senha</label>
          <input type="password" name="password">
          <input type="submit" name="submit" value="Cadastrar" class="btn-submit-cadastro">
        </form>
        <div class="link-form-cadastro">
          <a href="">Já tem conta? Faça o login <span>Aqui</span></a>
        </div>
      </div>
    </div>
  </body>
</html>
