<!DOCTYPE html>
<html>
  <head>
    <title>Class Diary</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header id="header">
      <div id="main-logo">
        <h1>Class Diary</h1>
      </div>
      <div id="menu-top">
        <ul>
          <li>
            <a href="/login">
              <div class="nav-items">
                <img src="../img/icons/login.png" alt="">
                <h2>Entrar</h2>
              </div>
            </a>
          </li>
          <li>
            <a href="/usuario/cadastrar">
              <div class="nav-items">
                <img src="../img/icons/add-user.png" alt="">
                <h2>Cadastre-se</h2>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </header>
    <div id="container-form">
      <h1>Minha conta</h1>
      <h2>Nome: <%= userPerfil.first_name %></h2>
    </div>
  </body>
</html>
